<%- include('../includes/layout-start') -%>

<h2 class="h_listBooks">Список книг</h2>

<% if(books.length === 0) { %>
    <div class="message"><%= 'Книг пока нет' -%></div>
<% } else { %>

<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Автор</th>
            <th>Описание</th>
            <th>Обложка</th>
            <th>Действие</th>
        </tr>
    </thead>

    <% for(const key in books) { 
        if (Object.hasOwnProperty.call(books, key) && key !== 'length') { %>
            <tr>
                <td><%- books[key].title %></td>
                <td><%- books[key].authors %></td>
                <td><%- books[key].description %></td>
                <td><%- include('../includes/components/image', {fileCover: books[key].fileCover }) %></td>
                <td>
                    <div class="action__table">
                        
                        <%- include('../includes/components/link', {text: 'просмотр', href: `/view/${books[key].id}`}) %>
                        <%- include('../includes/components/link', {text: 'изменить', href: `/update/${books[key].id}`}) %>
                        <%- include('../includes/components/form', {text: 'удалить', id: books[key].id}) %>
                        
                    </div>
                </td>
            </tr>

    <% }} %>
</table>

<% } %>
<%- include('../includes/script') -%>
<%- include('../includes/layout-end')%>