<%- include('../includes/layout-start')%>

<h2 class="h_update">Редактировать книгу</h2>


<form class="formUpdateBook" method="post" action="/update/<%= data.book.id %>" accept=".txt">
    <label class="form__label">Название книги</label>
    <textarea name="title" cols="30" rows="3"><%= data.book.title %></textarea>
    <label class="form__label">Описание</label>
    <textarea name="description" cols="30" rows="10"><%= data.book.description %></textarea>
    <label class="form__label">Автор</label>
    <textarea name="authors" cols="30" rows="3"><%= data.book.authors %></textarea>
    <label class="form__label">прикрепить файл книги</label>
    <input type="file" name="fileBook" multiple accept=".pdf, .txt"/>
    <label class="form__label">прикрепить обложку книги</label>
    <input type="file" name="fileCover" accept=".jpg"/>
    <%- include('../includes/components/button', {text: 'Сохранить', type: 'submit', className: 'btnSubmit'}) %>
</form>

<%- include('../includes/layout-end')%>