<%- include('../includes/layout-start')%>
<h2 class="h_view">Просмотр книги</h2>
<%- include('../includes/components/cardBook') -%>
<%- include('../includes/sections/comments') -%>
<%- include('../includes/scripts/script') %>
<%- include('../includes/layout-end') %>